html,
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, 'Microsoft YaHei';
    color: #333;
    background-color: rgb(209, 207, 207);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    touch-action: pan-y;
}